@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

:root {
  --primary-color: #008FF4;
  --grey-bg: #F8F8F8;
  --text-color: #6B6B6B;
  --text-color-lite: #AAAAAA;
  --input-text-color: #A6A6A6;
  --input-focus-bg: rgba(0, 142, 244, 0.1);
  --input-focus-color: #444444;
  --label-color: #BBBBBB;
  --red: #E00404;
  --green: #47b247;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400; 
  line-height: 1.7;
  color: #000;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
.bodywrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bodywrap__bg, .bodywrap__form{
    height: 100vh;
}
.bodywrap__bg{
    width: 100%;
    background: var(--grey-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20rem;
}
.bodywrap__form{
    width: 80rem;
    background: #fff;
    padding: 5rem 10rem;
}
.bodywrap__bg-logo{
    margin-top: 5rem
}
.bodywrap__bg-text div{
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--text-color);
}
.bodywrap__bg-text span{
    display: inline-block;
    font-size: 1rem;
    margin-top: 2rem;
    color: var(--text-color-lite);
}
.form{
  margin-top: 2rem;
}
.bodywrap__form__title{
    font-size: 3.5rem;
    color: #000000;
    font-weight: 700;
    margin-top: 7rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}
.form__input-wrap{
  margin-top: 2rem;
}
label{
  display: block;
  padding: .5rem 0;
  font-size: 1.2rem;
  color: var(--label-color);
}
input{
  border-radius: .5rem;
  background: var(--grey-bg);
  color: var(--input-text-color);
  line-height: 1.4rem;
  font-size: 1.6rem;
  outline: 0;
  border: 0;
  padding: 1rem;
  width: 100%;
}
input:focus { 
  background-color: var(--input-focus-bg);
  color: var(--input-focus-color);
}
.form__cta-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9rem;
}
.btn{
  min-width: 10rem;
  border-radius: .5rem;
  font-size: 1.6rem;
  padding: .8rem 1.5rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
}
.btn-blue{
  background: var(--primary-color);
  color: #fff;
}
.btn-blue:hover{
  -webkit-box-shadow: 5px 8px 5px var(--input-focus-bg);
  -moz-box-shadow: 5px 8px 5px var(--input-focus-bg);
  box-shadow: 5px 8px 5px var(--input-focus-bg);
}
.btn-outlineless-blue{
  color: var(--primary-color);
  background: transparent;
}
.notify{
  border-radius: .5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  font-size: 1.4rem;
}
.notify-err{
  background: rgba(255, 4, 4, 0.09);
  border: 1px solid rgba(255, 0, 0, 0.379331);
  color: var(--red);
  display: none;
}
.notify-success{
  background: rgba(102, 255, 102, 0.09);
  border: 1px solid rgba(102, 255, 102, 0.379331);
  color: var(--green);
  display: none;
}
.notify-err img, .notify-success img{
  margin-right: 1rem;
}
#resetFrm{
  display: none;
}

@media only screen and (max-width: 940px) {
  .bodywrap__bg{
    padding-left: 5rem;
  }
  .bodywrap__form{
    padding: 5rem;
  }
}
@media only screen and (max-width: 700px) {
  .bodywrap__bg{
    display: none;
  }
  .bodywrap__form{
    padding: 2rem;
  }
  .bodywrap__form-logo {
    display: flex;
    justify-content: center;
  }
  .bodywrap__form__title{
    width: 100%;
    text-align: center;
  }
  .bodywrap__form__title{
    text-align: left;
  }
}